# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore npm and yarn related files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
.yarn-integrity

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db

# Ignore VS Code settings
.vscode

# Ignore IntelliJ IDEA project files
.idea

# Ignore output from build processes
dist/
build/

# Ignore coverage directory
coverage/

# Ignore any other temporary files or directories
temp/
tmp/

# Ignore postcss and tailwind config files
postcss.config.js
tailwind.config.js
